<div class="loader">
    <!--
    <div class="txtPercent">{{progressNumber}}%</div>
    <mat-spinner [mode]="'determinate'" [value]="progressNumber"></mat-spinner>
    -->

    <circle-progress [percent]="progressNumber" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
        [showSubtitle]="false" [unitsFontSize]="'30'" [outerStrokeColor]="'#78C000'" [titleFontSize]="'50'"
        [unitsColor]="'#ffffff'" [titleColor]="'#ffffff'" [innerStrokeColor]="'#C7E596'" [animation]="false"
        [animationDuration]="300">
    </circle-progress>

</div>