.loader {
    .txtPercent {
        color: white;
        display: block;
        font-size: 30px;
        font-weight: bold;
        line-height: 0;
        height: 20px;
        top: 138px;
        position: absolute;
        width: 100%;
    }

    height: 280px;
    padding: 25px 0 0 0;
    position: relative;
    width: 320px;
    z-index: 101;
}
